include ../variable/global.jade

- var cssRoot  = rootDir + '/css'
- var jsRoot   = rootDir + '/scripts'
- var imgRoot  = rootDir + '/images'
- var htmlRoot = rootDir + '/view'

//- - var navIndex = 0

include ../mixin/page.jade

doctype html
html
	head
		meta(charset = 'utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		block head-title
			title 网站标题
		//- link(rel = 'shortcut icon', type = 'image/x-icon', href = '#{rootDir}/favicon.ico')
		block head-theme
			link(rel = 'stylesheet' href = '#{cssRoot}/inner.css')
			//- // build:css css/base.css
			//- link(rel = 'stylesheet' href = '#{bowerComponentsDir}/normalize.css/normalize.css')
			//- link(rel = 'stylesheet' href = '#{cssRoot}/reset.css')
			//- link(rel = 'stylesheet' href = '#{cssRoot}/common.css')
			//- // endbuild
		block head-script
			script(src = '#{jsRoot}/lib/requirejs-config/inner.js')
		block head-requirejs-script
			//- script.
			//- 	require.baseUrl = '../..' + require.baseUrl;
			//- 	require.paths.inner = '../app/inner/module';
			//- 	require.deps = ['inner/btn-base','inner/moreSearch'];
			script(src = '#{jsRoot}/lib/requirejs/require.js' data-main="app/inner/main")
	body

		#main-page
			.manage-content
				block crumbs
					include ../app/inner/crumbs.jade
				
				block search
					.space.space-t10
					include ../app/inner/search.jade
				block result
					.space.space-t10
					include ../app/inner/result.jade

				block others


	block floor-script
		script(src = '#{jsRoot}/lib/autoheight/main.js')